@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css");

.page-wrapper{
    display:flex;
    flex-direction:column;
    padding-top:64px;
    width:calc(100% - 64px);
    max-width:1200px;
    margin: 0 auto;
    height:100vh;
    font-family: 'Vazir',tahoma, arial;
    direction:ltr;
  }
  @media (max-width:768px) {
    .page-wrapper{
      text-align: center;
      align-items:center;
    }
  }
  .component-wrapper{
    width:500px;
    max-width: calc(100% - 64px);
    direction: ltr;
  }
  .border-style{
    --jb-pin-input-bottom-line-display:none;
    --jb-pin-input-wrapper-border-width:1px;
    --jb-pin-input-wrapper-border-color:#333;
    --jb-pin-input-wrapper-border-color-active:#333;
    --jb-pin-input-pin-color:#333;
    --jb-pin-input-pin-height:3.5rem;
    --jb-pin-input-error-message-margin:0.5rem 0;
  }
  