jb-pin-input.sunset-style {
  --jb-pin-input-inputs-wrapper-width: 16rem;
  --jb-pin-input-inputs-gap: 0.6rem;
  --jb-pin-input-wrapper-border-width: 1px;
  --jb-pin-input-wrapper-border-color: var(--jb-border-color);
  --jb-pin-input-wrapper-border-color-active: var(--jb-primary);
  --jb-pin-input-wrapper-border-radius: var(--jb-radius);
  --jb-pin-input-bottom-line-color: var(--jb-surface-hover);
  --jb-pin-input-bottom-line-color-active: var(--jb-primary);
  --jb-pin-input-pin-height: 2.875rem;
  --jb-pin-input-pin-color: var(--jb-text-primary);
  --jb-pin-input-message-color: var(--jb-text-secondary);
  --jb-pin-input-message-color-error: var(--jb-red);
}
